body {
    background-color: rgb(22, 30, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.attribution { 
    position: relative;
    top: 170px;
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.outer {
    display: flex;
    justify-content: center;
}

.card {
    position: relative;
    top: 100px;
    width: 300px;
    height: 550px;
    border-radius: 10px;
    box-shadow:0px 25px 4px 15px #17182b;
    background-color: rgb(34, 43, 71);
}

.nft-title {
    position: absolute;
    top: 300px;
    left: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.nft-description {
    position: absolute;
    top: 340px;
    left: 25px;
    color: rgb(108, 106, 129);
}

.nft-price {
    position: absolute;
    top: 400px;
    left: 45px;
    color: turquoise;
    font-weight: bold;
}


.diamond {
    position: absolute;
    top: 400px;
    left: 25px;
}

.nft-auction-time {
    position: absolute;
    top: 400px;
    left: 210px;
    color: rgb(108, 106, 129);
}

.clock {
    position: absolute;
    top: 400px;
    left: 185px;
}

.nft-creator {
    position: absolute;
    top: 485px;
    left: 65px;
    color: rgb(108, 106, 129);
}

.name {
    color: white;
    cursor: pointer;
}

.profile {
    position: absolute;
    top: 476px;
    left: 20px;
    max-height: 35px;
    border: 1px solid white;
    border-radius: 50%;
}

.container {
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 10px;
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.equilibrium {
    width: 100%;
    border-radius: 10px;
}

.mask {
    background-color: turquoise;
    opacity: 0.5;
    position: absolute;
    top: 25px;
    left: 25px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    display: none;
}

.eye {
    position: absolute;
    top: 125px;
    left: 125px;
    display: none;
}

hr {
    position: absolute;
    top: 440px;
    left: 25px;
    width: 85%;
    height: 1px;
    border: none;
    background-color: rgb(110, 110, 110);
}